@import "tailwindcss";

/* ================= ROOT ================= */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* ================= CALENDAR FULL RESET ================= */

.custom-calendar {
  width: 100% !important;
  background: #f2f2f2 !important;
  border: none !important;
  font-family: inherit;
}

/* Month title + arrows */
.react-calendar__navigation {
  margin-bottom: 30px;
}

.react-calendar__navigation button {
  background: transparent !important;
  font-size: 22px;
  font-weight: 500;
  color: #333 !important;
}

/* Weekday header */
.react-calendar__month-view__weekdays {
  background: #2f2f2f !important;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 18px 0;
  color: white !important;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important;
}

/* Day boxes */
.react-calendar__tile {
  height: 95px !important;
  background: #f2f2f2 !important;
  border: 1px solid #e0e0e0 !important;
  font-size: 14px;
  color: #6b6b6b !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Remove spacing */
.react-calendar__month-view__days {
  gap: 0 !important;
}

/* Hover */
.react-calendar__tile:hover {
  background: #e0b15c !important;
  color: white !important;
}

/* Selected */
.react-calendar__tile--active {
  background: #d9d9d9 !important;
  color: #333 !important;
}

/* Today */
.react-calendar__tile--now {
  background: #ececec !important;
}

/* Remove focus outline */
.react-calendar__tile:focus {
  outline: none !important;
}